body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2a9d8f;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 10px;
}

#sobre {
    background-color: #e9c46a;
}

#galeria img {
    width: 45%;
    margin: 10px;
}

footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 10px;
}
